
# This is a TOML file: https://github.com/toml-lang/toml

min-step                = "10s"

# 0 - unlilimited (default). points in excess are discarded
#max-receiver-queue-size  = 1000000

# number of flushers == number of workers
workers                 = 4

pid-file =                 "tgres.pid"
log-file =                 "log/tgres.log"
log-cycle-interval =       "24h"

http-listen-spec            = "0.0.0.0:8888"
graphite-line-listen-spec   = "0.0.0.0:2003"
graphite-text-listen-spec   = "0.0.0.0:2003"
graphite-udp-listen-spec    = "0.0.0.0:2003"
#graphite-pickle-listen-spec = "0.0.0.0:2004" # TODO to be deprecated

statsd-text-listen-spec     = "0.0.0.0:8125"
statsd-udp-listen-spec      = "0.0.0.0:8125"
stat-flush-interval         = "10s"
stats-name-prefix           = "stats"

# RedHat and some others:
db-connect-string = "host=/tmp dbname=tgres sslmode=disable"
# Debian and some others:
#db-connect-string = "host=/var/run/postgresql dbname=tgres sslmode=disable"

[[ds]]
regexp = ".*"
step = "10s"
heartbeat = "2h"
# rra is "[wmean|min|max|last:]ts:ts[:xff]"
# function is not case-sensitive, default is "wmean".
rras = ["10s:6h", "1m:24h", "10m:93d", "1d:5y:1"]
