
# This is a TOML file: https://github.com/toml-lang/toml

min-step                = "10s"

# 0 - unlilimited (default). points in excess are discarded
#max-receiver-queue-size  = 1000000
# 0 - unlimited (default). this is very inexact, can be off by gigs.
#max-memory-bytes         = 8000000000

# Segment Width (only matter during initial table creation), default: 200
#pg-segment-width         = 200

# number of flushers == number of workers * 2
workers                 = 4

pid-file =                 "tgres.pid"
log-file =                 "log/tgres.log"
log-cycle-interval =       "24h"

http-listen-spec            = "0.0.0.0:8888"
#http-allow-origin           = "*" # Sets Access-Control-Allow-Origin HTTP header
graphite-line-listen-spec   = "0.0.0.0:2003"
graphite-text-listen-spec   = "0.0.0.0:2003"
graphite-udp-listen-spec    = "0.0.0.0:2003"
#graphite-pickle-listen-spec = "0.0.0.0:2004" # TODO to be deprecated

statsd-text-listen-spec     = "0.0.0.0:8125"
statsd-udp-listen-spec      = "0.0.0.0:8125"
stat-flush-interval         = "10s"
stats-name-prefix           = "stats"

# Number of DSs whose entire data are kept in memory for faster query response
# NB: A DS's memory footprint can very greatly depending on RRA configuration.
# (Default is 0 == cache disabled)
query-cache-size            = 512

db-connect-string = "postgresql:///tgres?host=/var/run/postgresql"

[[ds]]
regexp = ".*"
step = "10s"
heartbeat = "2h"
# rra is "[wmean|min|max|last:]ts:ts[:xff]"
# function is not case-sensitive, default is "wmean".
rras = ["10s:6h", "1m:24h", "10m:93d", "1d:5y:1"]
