
# This is a TOML file: https://github.com/toml-lang/toml

pid-file =             "timeriver.pid"
log-file =             "log/timeriver.log"
log-cycle-interval =   "24h"
max-cached-points  =   4096
max-cache-duration =   "30s"
min-cache-duration =   "1s"
workers            =   4

http-listen-spec = "0.0.0.0:8888"
graphite-line-listen-spec = 0.0.0.0:2003
graphite-text-listen-spec = "0.0.0.0:2003"
graphite-udp-listen-spec = "0.0.0.0:2003"
graphite-pickle-listen-spec = "0.0.0.0:2004"

db-connect-string = "host=/tmp dbname=timeriver sslmode=disable"

[[foo]]
regexp = "foo"
step = "60s"
heartbeat = "2h"
rras = ["AVERAGE:1m:10d", "AVERAGE:10m:93d", "AVERAGE:1d:5y:1"]
